body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
          #paper{
            background:#eee;
          }
          
          svg{
            background:#aaa;
          }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.digital-clock-font {
  font-family: 'digital-clock-font';
  width: 150pt;
  color: white;
  font-size: 60pt;
  text-align: center;
  background-color: #0038A7;
  padding: 15pt;
  border-top: 5pt solid #011121;
  border-left: 2pt solid #011121;
  outline: 7pt solid #3F5D91;
}

.headers {
  display: inline-block;
  color: white;
}

.headers h1 {
  background-color: #0038A7;
  margin: 0;
  border-top: 4pt inset #C6BDB6;
  border-right: 2pt inset #C6BDB6;
  margin-bottom: 20pt;
}

.numbers-container {
  text-align: center;
  width: 500px;
  margin-left: calc(50% - 250px);
}

.mute {
  position: absolute;
  width: 50px;
  left: 20px;
  right: 20px;
}

.mute img {
  width: 50px;
}

@font-face{
 font-family:'digital-clock-font';
 src: url('fonts/DIGITALDREAM.ttf');
}